*{
    /* border: solid 0.1px; */
    font-family: verdana;
} 
body{
    height: 100%;

}
#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:  rgba(25, 221, 221, 0.734);
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0px;
}
/* #logo{
    width:100%;
} */
.nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
 }
.nav-link{
    font-size: 1rem;
    text-decoration: none;
    font-family: verdana;
    text-align: center;
    color: rgb(0, 0, 0);
    width: 25%;
    /* border: solid; */
}
main{
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: max-content;
    position: relative;
    top: 3em;
}
.card-home{
    border: none;
    text-align: center;
    height: 25vh;
    margin-bottom: 5vh;
    border-bottom: solid 1px  rgb(25, 221, 179);
}
.btn{
    background-color: rgb(25, 221, 179);
    width: 40%;
    border: none;
}

/* =================== CADASTRO =================== */

#cdastro_form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    width: 90%;
    /* border: solid; */
}
.form-group-cad{
    margin-bottom: 5vh;
    width: 100%;
    text-align: left;
}
.submit-reset-area{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3vh;
}
/* ===============CONSULTA======================= */
#container-consultar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
#consulta_forms_head{
    display: flex;
    border: solid;
}
#consulta-input{
    width: 15rem;
    border: solid;
}
#consult-form_back{
    width: 100%;
}  
.icon_button_general{
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
    background-color: white;
    width: 5rem;
    height: 3rem;
}
#back_button{
    background-image: image-set('https://img.icons8.com/?size=48&id=80689&format=png');
}
#consulta_btn{
    background-image: image-set('https://img.icons8.com/?size=80&id=1gzwu5aKK4Xx&format=png');
}
.btn_icon{
    width: 5%;
    height: 5%;
    border: solid;
}
#excluir_btn{
    background-image: image-set('https://img.icons8.com/?size=80&id=102350&format=png');
}
.card-text{
    display: flex;
    flex-direction: column;
}
.card-consult{
    margin: 5vh;
    width: 20rem; 
    border: none;
}


.card-buttons{
    text-align: center;
}