{%extends 'header.html'%}
{%block content%}
{% load static %}
<main class="container">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}


    <form id="cdastro_form" action="{% url 'adicionar' %}" method="post">{% csrf_token %}
    {% for quest in form %}
        <div class="form-group form-group-cad">
        {{quest.label}}
    
        {{quest}}
        </div>
        {% endfor %}
        <div class="form-group form-group-cad">
            <div class="submit-reset-area">
                <input class="btn btn-primary" type="reset" value="Limpar">
                <input class="btn btn-primary" type="submit" value="Registrar">
            </div>
        </div>
    </form>

    <div id="add_complete" style="display: none;"> <h1>adcionado</h1> <button>fechar</button></div>
    <div id="add_error" style="display: none;"> <h1>adcionado</h1> <button>fechar</button></div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{%endblock content%}