{%extends 'header.html'%}
{%load static%}
{%block content%}


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


{% if not query %}
{%if not filtros%}


<main id="container-consultar" class="container">
    <form id="consult-form" method="get" action="{% url 'consulta_pesquisa' %}">{% csrf_token %}
        <div id="consulta_forms_head" class="form-group form-group-cad">
            <input id="consulta-input" class="form-control form-control" type="text" name="query">

            <input id="consulta_btn" class="btn btn-primary icon_button_general" type="submit" role="button"
                value="">
            <a href="{% url 'page' 'filtrar' %}"><input id="filtro_btn" class="btn btn-primary icon_button_general" type="" role="button"></a>
        </div>
    </form>

    <section class="result_container">
        {% for pessoa in pessoas %}
        <form class="card-consult" method="get" action="{% url 'consulta_pesquisa' %}" style="width: 20rem">
            <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/128/8246/8246830.png"
                alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title"><strong>{{pessoa.nome}}</strong></h5>
                <p class="card-text">Empresa: {{pessoa.empresa}}</p>
            </div>
            <button type="submit" class="btn btn-primary" name="query" value="{{pessoa.nome}}"
                placeholder="Veja Mais">Veja mais</button>
            </div>
        </form>
        {%empty%}
        <div id="empty_query">
            <p>Não há registros</p>
        </div>
        {%endfor%}
    </section>
</main>
{%else%}

<h1>hihhi</h1>
{%endif%}

{%else%}

{%if not editar and not deletar %}
<main id="container-consultar" class="container">
    <form id="consult-form_back" method="get" action="{% url 'page' 'consultar' %}">{% csrf_token %}
        <button id="back_button" type="submit" class="btn btn-primary icon_button_general" href=""></button>
        </div>
    </form>

    <form class="card" method="post" action="{%url 'consulta_pesquisa'%}" style="width: 20rem; border: none;">
        {%csrf_token %}
        <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/128/8246/8246830.png" alt="Card image cap">
        <div class="card-body">
            <input type="hidden" value="{{query.nome}}" name="nome_query" class="card-title"><strong
                class="name_title">{{query.nome}}</strong></input>

            <p class="card-text"><strong>Empresa: </strong>{{query.empresa}}</p>
            <p class="list-group-item"><strong>Onde trabalha: </strong>{{query.unidade}}</p>
            <p class="card-text"><strong>Telefone: </strong>{{query.telefone}}</li>
        </div>

        <div class="card-body card-buttons">
            <button type="submit" name="acao" value="editar" placeholder="" class="btn"
                style="width: 12rem;">Editar</button>
            <button type="submit" name="acao" value="deletar" id="excluir_btn" type="text" placeholder="excluir"
                class="btn icon_button_general"></button>
        </div>
    </form>
</main>

{%elif editar == 'editar'%}
<main id="container-consultar" class="container">

    <form id="consult-form_back" method="get" action="{% url 'page' 'consultar' %}">{% csrf_token %}
        <button id="back_button" type="submit" class="btn btn-primary icon_button_general" href=""></button>
    </form>

    <form class="card" method="post" action="{%url 'editar'%}" style="width: 20rem; border: none;">{% csrf_token %}

        <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/128/8246/8246830.png" alt="Card image cap">

        <input type="hidden" value="{{query.nome}}" name="nome_query" class="card-title">
        <strong class="name_title">
            {{query.nome}}
        </strong>
        </input>

        {{form}}

        <div class="card-body card-buttons">
            <button type="submit" placeholder="" class="btn" style="width: 12rem;">Confirmar</button>
        </div>  

    </form>
</main>

{%elif deletar == 'deletar'%}
<main id="container-consultar" class="container">
    <form id="consult-form" method="get" action="{% url 'consulta_pesquisa' %}">{% csrf_token %}
        <label for="formGroupExampleInput">Nome Completo</label>
        <div id="consulta_forms_head" class="form-group form-group-cad">
            <input id="consulta-input" class="form-control form-control" type="text" name="query">
            <input id="consulta_btn" class="btn btn-primary icon_button_general" type="submit" role="button"
                value=""></a>
        </div>
    </form>

    <section>
        {% for pessoa in pessoas %}
        <form class="card-consult" method="post" action="{% url 'consulta_pesquisa' %}" style="width: 20rem">
            <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/128/8246/8246830.png"
                alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">{{pessoa.nome}}</h5>
                <p class="card-text">Empresa: {{pessoa.empresa}}</p>
            </div>
            <button type="submit" class="btn btn-primary" name="query" value="{{pessoa.nome}}"
                placeholder="Veja Mais">Veja mais</button>
            </div>
        </form>
        {%endfor%}
    </section>
</main>

{%endif%}
{%endif%}

{%endblock content%}