{%extends 'header.html'%}
{%block content%}
{% if not query %}
    <main id="container-consultar" class="container">
        {%if not search%}
            <form id="consult-form" method="get" action="{% url 'consulta_pesquisa' %}">{% csrf_token %}
                <div class="form-group form-group-cad">
                <label for="formGroupExampleInput">CPF / Nome Completo</label>
                <input class="form-control form-control-lg" type="text" name="query" style="width: 25rem;">
                <input type="submit" class="btn btn-primary"  role="button" value="pesquisar"></a>
            </div>
            </form>

            <section>
            {% for pessoa in pessoas %}
                <form class="card-consult" method="get" action="{% url 'consulta_pesquisa' %}" style="width: 20rem">
                    <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/128/8246/8246830.png" alt="Imagem de capa do card">
                    <div class="card-body">
                    <h5 class="card-title">{{pessoa.nome}}</h5>
                    <p class="card-text">Nome: {{pessoa.nome}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cargo: br{{pessoa.cargo}}</li>
                    </ul>
                    <button type="submit" class="btn btn-primary" name="query" value="{{pessoa.nome}}" placeholder="Veja Mais">Veja mais</button>
                    </div>
                </form>
            {%endfor%} 
            </section>


        {%else%}
            <h1>{{search.nome}}</h1>
        {%endif%}
    </main>
{%else%}
    <main id="container-consultar" class="container">
        <form id="consult-form" method="get" action="{% url 'consulta_pesquisa' %}">{% csrf_token %}
            <div class="form-group form-group-cad">
            <label for="formGroupExampleInput">CPF / Nome Completo</label>
            <input class="form-control form-control-lg" type="text" name="query" style="width: 25rem;">
            <input type="submit" class="btn btn-primary" href="" role="button" value="pesquisar"></a>
        </div>
        </form>

        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/128/8246/8246830.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{query.nome}}</h5>
              <p class="card-text">Cargo: {{query.Função}}</p>
              <p class="card-text">Empresa: {{query.empresa}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Email: {{query.email}}</li>
              <li class="list-group-item">Telefone: {{query.telefone}}</li>
              <li class="list-group-item">Trabalha em: {{query.unidade}}</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Editar</a>
              <a href="#" class="card-link">excluir</a>
            </div>
          </div>
    </main>
    {%endif%}
{%endblock content%}